<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.posyandu">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Posyandu Cempaka II"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Posyandu">
        <activity
            android:name=".ProfilEditActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilEditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".LihatStatusGiziActivity"
            android:exported="false" />
        <activity
            android:name=".CekStatusGiziActivity"
            android:exported="false" />
        <activity
            android:name=".EditUserPesertaActivity"
            android:exported="false" />
        <activity
            android:name=".LihatUserPesertaActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaUserPesertaActivity"
            android:exported="false" />
        <activity
            android:name=".EditUserKaderActivity"
            android:exported="false" />
        <activity
            android:name=".LihatUserKaderActivity"
            android:exported="false" />
        <activity
            android:name=".TambahUserKaderActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaJadwalPesertaActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaUserKaderActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaUserActivity"
            android:exported="false" />
        <activity
            android:name=".EditJadwalActivity"
            android:exported="false" />
        <activity
            android:name=".TambahJadwalActivity"
            android:exported="false" />
        <activity
            android:name=".LihatJadwalActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaJadwalActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaAbsenPesertaActivity"
            android:exported="false" />
        <activity
            android:name=".RekapAbsenPesertaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RekapAbsenPesertaActivity"
            android:exported="false" />
        <activity
            android:name=".RekapAbsenActivity"
            android:exported="false" />
        <activity
            android:name=".AbsenActivity"
            android:exported="false" />
        <activity
            android:name=".KelolaAbsenKaderActivity"
            android:exported="false" />
        <activity
            android:name=".ContainerActivity"
            android:exported="false"
            android:label="Posyandu Cempaka II" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>